@model List<ProyectoDeGraduacion.Entidades.Calificacion>

@{
    ViewBag.Title = "Analizar Calificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/root/dist/css/stylesCalificaciones.css" rel="stylesheet" />
</head>

<div class="container mt-4">
    <h2 class="text-center">Reporte de Calificaciones Mensuales</h2>

    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th style="background-color: #343a40; color: white; text-align: center;">Fecha</th>
                <th style="background-color: #343a40; color: white; text-align: center;">Calificaciones Totales</th>
                <th style="background-color: #343a40; color: white; text-align: center;">Promedio de Estrellas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Fecha.ToString("MMMM yyyy dd")</td>
                    <td>@item.CalificacionesTotales</td>
                    <td>@item.PromedioCalificaciones</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center mt-4">
        <a href="@Url.Action("AdminCalificacion", "Calificacion")" class="btn btn-info">Regresar</a>
    </div>
</div>




<script>
    document.querySelectorAll('.btn-descargar').forEach(function(btn) {
        btn.addEventListener('click', function() {
            var mes = this.getAttribute('data-mes');
            Swal.fire({
                title: '¿Desea descargar las calificaciones del mes de ' + mes + '?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sí',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Descarga Iniciada',
                        'Las calificaciones de ' + mes + ' se están descargando.',
                        'success'
                    ).then(() => {
                        // Redirige de nuevo a la misma página
                        window.location.href = '@Url.Action("AnalizarCalificaciones", "Calificacion")';
                    });
                }
            });
        });
    });
</script>
