@model ProyectoDeGraduacion.Entidades.Calificacion

@{
    ViewBag.Title = "NuevaCalificacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/root/dist/css/stylesCalificaciones.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg rounded" style="max-width: 400px; width: 100%;">
        @using (Html.BeginForm("NuevaCalificacion", "Calificacion", FormMethod.Post))
        {
            <div class="text-center mb-4">
                <h1 id="ratingcard" class="mb-3">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <i class="fa-regular fa-star" id="star@i" style="color: yellow;"></i>
                    }
                </h1>
                <h5 class="fw-bold">Califica nuestro servicio</h5>
            </div>
            <input type="hidden" id="Calificaciones" name="Calificaciones" value="@(Model?.Calificaciones ?? 0)" />



            <div class="mb-3">
                <label for="Nombre" class="form-label fw-semibold">Nombre:</label>
                @Html.TextBoxFor(m => m.idPaciente, new { @type = "number", @class = "form-control", @hidden = "hidden" })
            </div>

            <div class="mb-3">
                @Html.HiddenFor(m => m.Fecha, new { @value = DateTime.Now.ToString("yyyy-MM-dd") })
            </div>

            <div class="input-group mb-3">
                @Html.DropDownListFor(m => m.idServicio, (SelectList)ViewBag.Servicio, "Seleccione su servicio: ", new { @class = "form-control" })
                <div class="input-group-append">
                </div>
            </div>

            <div class="form-group mt-3">
                <label for="opinions" class="form-label fw-semibold">Deja tu opinión:</label>
                <div class="input-group">
                    @Html.TextAreaFor(m => m.Opinion, new { @type = "text", @class = "form-control", @placeholder = "Escribe tu opinión aquí..." })
                    <div class="input-group-append">
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Enviar</button>
                <a class="btn btn-secondary" href="@Url.Action("verCalificaciones","Calificacion")">Regresar</a>
            </div>
        }
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function setRating(rating) {
            $('#Calificaciones').val(rating);

            $('#ratingcard i').each(function (index) {
                if (index < rating) {
                    $(this).removeClass("fa-regular").addClass("fa-solid");
                } else {
                    $(this).removeClass("fa-solid").addClass("fa-regular");
                }
            });
        }

        $('#ratingcard i').on('click', function () {
            var starIndex = $(this).index() + 1;
            setRating(starIndex);
        });
    });
</script>

