@{
    ViewBag.Title = "Modificar Historia Clínica";
    var nombrePaciente = "Juan Pérez"; // Este valor puede ser dinámico según el contexto
    var fechaConsulta = "01/08/2024"; // Fecha de la consulta, puede ser dinámica
}

<h2 class="historial-header">Modificar Historia Clínica de @nombrePaciente</h2>

<div class="historial-section">
    <form id="modificarForm" method="post" enctype="multipart/form-data" action="@Url.Action("ModificarHistoria", "Historial")">
        <div class="form-group">
            <label for="fechaConsulta">Fecha de Consulta:</label>
            <input type="date" class="form-control" id="fechaConsulta" name="fechaConsulta" value="@fechaConsulta" required>
        </div>
        <div class="form-group">
            <label for="diagnostico">Diagnóstico:</label>
            <textarea class="form-control" id="diagnostico" name="diagnostico" required>Caries Dental</textarea>
        </div>
        <div class="form-group">
            <label for="tratamiento">Tratamiento Aplicado:</label>
            <textarea class="form-control" id="tratamiento" name="tratamiento" required>Obturación</textarea>
        </div>
        <div class="form-group">
            <label for="medicacion">Medicación Recetada:</label>
            <textarea class="form-control" id="medicacion" name="medicacion">Amoxicilina</textarea>
        </div>
        <div class="form-group">
            <label for="observaciones">Observaciones:</label>
            <textarea class="form-control" id="observaciones" name="observaciones" rows="6">Revisar en 6 meses</textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-dark">Guardar Cambios</button>
        </div>
        <div class="historial-section text-center">
            <a href="@Url.Action("IndexHistorial", "Historial")" class="btn btn-info">Regresar al Historial</a>
        </div>
    </form>
</div>

<script>
    document.getElementById("modificarForm").addEventListener("submit", function(event) {
        event.preventDefault();

        Swal.fire({
            title: 'Modificación Exitosa',
            text: 'Los cambios en la historia clínica han sido guardados con éxito.',
            icon: 'success',
            confirmButtonText: 'Aceptar'
        }).then(function() {
            window.location.href = '@Url.Action("IndexHistorialAdmin", "Historial")';
        });
    });
</script>
