@model ProyectoDeGraduacion.BaseDatos.tHistorial
@{
    ViewBag.Title = "Nuevo Registro";
}

<h2 class="historial-header">Nuevo Registro para el paciente</h2>

<div class="historial-section">
    @using (Html.BeginForm("RegistrarHistoria", "Historial", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.Label("Paciente")
            @Html.DropDownListFor(m => m.idPaciente, (SelectList)ViewBag.NombrePaciente, "Seleccione un Paciente", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Fecha")
            @Html.TextBoxFor(m => m.FechaConsulta, new { @type = "Date", @class = "form-control", @placeholder = "Fecha de la consulta" })
        </div>
        <div class="form-group">
            @Html.Label("Diagnostico")
            @Html.TextBoxFor(m => m.Diagnostico, new { @type = "text", @class = "form-control", @placeholder = "Diagnostico" })
        </div>
        <div class="form-group">
            @Html.Label("Tratamiento")
            @Html.TextBoxFor(m => m.Tratamiento, new { @type = "text", @class = "form-control", @placeholder = "Tratamiento aplicado" })
        </div>
        <div class="form-group">
            @Html.Label("Medicacion")
            @Html.TextBoxFor(m => m.Medicacion, new { @type = "text", @class = "form-control", @placeholder = "Medicacion aplicada" })
        </div>
        <div class="form-group">
            @Html.Label("Observaciones")
            @Html.TextBoxFor(m => m.Observaciones, new { @type = "text", @class = "form-control", @placeholder = "Observaciones" })
        </div>
        @Html.Label("Archivo")
        <div class="input-group mb-3">
            <input type="file" id="Archivo" name="Archivo" class="form-control form-control-user">
        </div>

        <div>
            <button type="submit" class="btn btn-dark">Registrar</button>
        </div>
    }
</div>
