@model List<ProyectoDeGraduacion.BaseDatos.tInventario>

@{
    ViewBag.Title = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Gestión de Inventario</h2>
    <p class="text-center">Administra y controla los productos del inventario desde esta sección.</p>
</div>

<div class="row">
    <div class="col-12">

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }

        <div class="d-flex justify-content-between mb-3">
            <a class="btn btn-info" href="@Url.Action("AgregarProducto", "Inventario")">
                Agregar Productos
            </a>
            <a class="btn btn-secondary" href="@Url.Action("IndexReabastecimiento", "Reabastecimiento")">
                Gestión de Reabastecimiento
            </a>
        </div>
        <br>
        <br>

        <div class="table-responsive">
            <table id="tablaProductos" class="table table-striped table-bordered historial-table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id Producto</th>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Fecha de Caducidad</th>
                        <th>Id Proveedor</th>
                        <th>Eliminar</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.idProducto</td>
                            <td>@item.NombreProducto</td>
                            <td>@item.Cantidad</td>
                            <td>@item.CaducidadProducto</td>
                            <td>@item.idProveedor</td>

                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary btn-eliminar-producto" data-id="@item.idProducto" data-name="@item.NombreProducto">
                                    <i class="fa fa-share-square"></i>
                                </button>
                            </td>

                            <td style="text-align:center">
                                <a class="btn btn-primary" href="@Url.Action("ActualizarProducto","Inventario", new { idProducto = item.idProducto })">
                                    <i class="fa fa-user"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/root/plugins/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $("#tablaProductos").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [{ type: 'string', target: [0, 1, 2, 3] }]
        });

        $(document).on("click", ".btn-eliminar-producto", function () {
            var productoID = $(this).attr('data-id');
            var producto = $(this).attr('data-name');

            Swal.fire({
                title: '¿Cambiar eliminar el producto?',
                text: producto,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Cambiar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("EliminarProducto", "Inventario")',
                        type: 'POST',
                        data: { idProducto: productoID },
                        success: function (response) {
                            Swal.fire(
                                'Producto Eliminado',
                                'El producto ha sido eliminado',
                                'success'
                            ).then(function () {
                                location.reload();
                            });
                        },
                        error: function () {
                            Swal.fire(
                                'Error',
                                'No se pudo eliminar el producto',
                                'error'
                            );
                        }
                    });
                }
            });
        });
    });
</script>
