@model List<ProyectoDeGraduacion.BaseDatos.tSeguimiento>

@{
    ViewBag.Title = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Gestión de Seguimiento de Productos</h2>
    <p class="text-center">Supervisa el estado de tus productos </p>
</div>

<div class="row">
    <div class="col-12">

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }

        <div class="table-responsive">
            <table id="tablaProductos" class="table table-striped table-bordered historial-table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID Seguimiento</th>
                        <th>ID Paciente</th>
                        <th>Nombre del producto</th>
                        <th>Fecha de entrega</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.idSeguimiento</td>
                            <td>@item.idPaciente</td>
                            <td>@item.Nombre</td>
                            <td>@item.FechaEntrega</td>
                            @if (item.Estado == true)
                            {
                                <td class="text-center">
                                    <span style="color: forestgreen;">&#x25CF;</span> En proceso <span style="color: forestgreen;">&#x25CF;</span>
                                </td>
                            }
                            else
                            {
                                <td class="text-center">
                                    <span style="color: red;">&#x25CF;</span> Entregado <span style="color: red;">&#x25CF;</span>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="~/root/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#tablaProductos").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [{ type: 'string', target: [0, 1, 2] }]
        });
    });
</script>
