@model List<ProyectoDeGraduacion.BaseDatos.tSeguimiento>

@{
    ViewBag.Title = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Gestión de Seguimiento de Productos</h2>
    <p class="text-center">Administra y supervisa el estado de los productos de los pacientes desde esta sección.</p>
</div>

<div class="row">
    <div class="col-12">

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }
        <a class="btn btn-info" href="@Url.Action("AgregarProducto", "Seguimiento")">
            Agregar producto de pacientes
        </a>
        <br>
        <br>

        <div class="table-responsive">
            <table id="tablaProductos" class="table table-striped table-bordered historial-table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID Seguimiento</th>
                        <th>ID Paciente</th>
                        <th>Nombre del producto</th>
                        <th>Fecha de entrega</th>
                        <th>Estado</th>
                        <th>Cambiar estado</th>
                        <th>Eliminar</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.idSeguimiento</td>
                            <td>@item.idPaciente</td>
                            <td>@item.Nombre</td>
                            <td>@item.FechaEntrega</td>
                            @if (item.Estado == true)
                            {
                                <td class="text-center">
                                    <span style="color: forestgreen;">&#x25CF;</span> En proceso <span style="color: forestgreen;">&#x25CF;</span>
                                </td>
                            }
                            else
                            {
                                <td class="text-center">
                                    <span style="color: red;">&#x25CF;</span> Entregado <span style="color: red;">&#x25CF;</span>
                                </td>
                            }
                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary btn-cambiar-estado" data-id="@item.idSeguimiento" data-name="@item.Nombre">
                                    <i class="fa fa-share-square"></i>
                                </button>
                            </td>

                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary btn-eliminar" data-id="@item.idSeguimiento" data-name="@item.Nombre">
                                    <i class="fa fa-share-square"></i>
                                </button>
                            </td>

                            <td style="text-align:center">
                                <a class="btn btn-primary" href="@Url.Action("ActualizarSeguimiento","Seguimiento", new { idSeguimiento = item.idSeguimiento })">
                                    <i class="fa fa-user"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="~/root/plugins/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $("#tablaUsuarios").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [{ type: 'string', target: [0, 1, 2, 3] }]
        });

        $(document).on("click", ".btn-cambiar-estado", function () {
            var idSeg = $(this).attr('data-id');
            var NombreP = $(this).attr('data-name');

            Swal.fire({
                title: '¿Cambiar el estado?',
                text: NombreP,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Cambiar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("CambiarEstadoSeguimiento", "Seguimiento")',
                        type: 'POST',
                        data: { idSeguimiento: idSeg },
                        success: function (response) {
                            Swal.fire(
                                'Estado Cambiado',
                                'El estado del producto ha sido cambiado.',
                                'success'
                            ).then(function () {
                                location.reload();
                            });
                        },
                        error: function () {
                            Swal.fire(
                                'Error',
                                'No se pudo cambiar el estado del producto.',
                                'error'
                            );
                        }
                    });
                }
            });
        });

        $(document).on("click", ".btn-eliminar", function () {
            var idSeg = $(this).attr('data-id');
            var NombreP = $(this).attr('data-name');

            Swal.fire({
                title: '¿Desea eliminar el seguimiento del producto?',
                text: NombreP,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("EliminarSeguimiento", "Seguimiento")',
                        type: 'POST',
                        data: { idSeguimiento: idSeg },
                        success: function (response) {
                            Swal.fire(
                                'Producto Eliminado',
                                'Eliminado',
                                'success'
                            ).then(function () {
                                location.reload();
                            });
                        },
                        error: function () {
                            Swal.fire(
                                'Error',
                                'No se pudo eliminar el producto.',
                                'error'
                            );
                        }
                    });
                }
            });
        });
    });
</script>
