<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Clínica Dental Dra. Mariana Garro</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/stylesHistorial.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/css/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">

    <link href="~/root/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/root/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/root/dist/css/styles.css" rel="stylesheet" />
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.3/sweetalert2.min.css" rel="stylesheet" />
</head>

<body class="page-template-front-page header-sticky home2">
    <div class="boxed">
        <!-- Header -->
        <header id="header" class="header style2 clearfix">
            <div class="header-inner">
                <div id="logo" class="logo">
                    <a href="@Url.Action("Index","Login")" class="text-center">
                        <img src="~/images/logoClinica.png" alt="image">
                    </a>
                </div><!-- /.logo -->
                <div class="nav-wrap">
                    <div class="btn-menu"></div>
                    <nav id="mainnav" class="navbar navbar-expand ">
                        <ul class="navbar-nav ml-auto">
                            <li><a href="@Url.Action("Index","Login")"> Home</a></li>
                            <li><a href="@Url.Action("IndexHistorial","Historial")">Historia Clínica</a></li>
                            <li><a href="@Url.Action("RegistrarCita","Citas")">Citas</a></li>
                            <li><a href="@Url.Action("MostrarInventario","Inventario")">Inventario</a></li>
                            <li><a href="@Url.Action("","")">Seguimiento de productos</a></li>
                            <li><a href="@Url.Action("verCalificaciones","Calificacion")"> Calificación</a></li>
                            <li><a href="@Url.Action("ConsultarUsuarios","Usuario")"> Usuarios</a></li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="#">
                                   Jose Padilla
                                    <i class="far fa-user ml-2"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                    <div class="dropdown-divider"></div>
                                    <a href="@Url.Action("MiPerfil","Usuario")" class="dropdown-item">
                                        <i class="fas fa-users mr-2"></i> Perfil
                                        <span class="float-right text-muted text-sm"></span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    @*<a href="@Url.Action("ActualizarContrasenna","Perfil")" class="dropdown-item">*@
                                        <i class="fas fa-lock mr-2"></i> Seguridad
                                        <span class="float-right text-muted text-sm"></span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="@Url.Action("CerrarSesion","Login")" class="dropdown-item">
                                        <i class="fas fa-door-open mr-2"></i> Cerrar Sesión
                                        <span class="float-right text-muted text-sm"></span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header><!-- /.header -->
        <!-- Contenido Principal -->

        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget widget_text">
                                <h5 class="widget-title">Sonrie más</h5>
                                <div class="textwidget">
                                    <p>Sonríe con confianza</p><br>
                                    <p>Cuidamos tu salud dental para que muestres tu mejor sonrisa.</p>
                                </div>
                            </div><!-- /.widget -->
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-4">
                            <div class="widget widget_text">
                                <h5 class="widget-title">Direccion</h5>
                                <div class="textwidget">
                                    <p>
                                        Tu sonrisa es nuestra prioridad. <br>
                                        ¡Visítanos para un cuidado dental de calidad!<br>
                                        Dirección: El Rosario, Desamparados
                                    </p>
                                </div>
                            </div><!-- /.widget -->
                        </div><!-- /.col-md-4 -->

                        <div class="col-md-4">
                            <div class="widget widget_text">
                                <h5 class="widget-title">Agenda una cita con nosotros</h5>
                                <div class="textwidget">
                                    <p>
                                        Protege tu sonrisa, cuida tu salud.<br>
                                        ¡Agenda tu cita hoy mismo!<br>
                                    </p>
                                </div>
                            </div><!-- /.widget -->
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-widgets -->
        </footer><!-- /.footer -->
    </div><!-- /.boxed -->
    <!-- Javascript -->
    <!--<script type="text/javascript" src="~/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="~/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="~/javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="~/javascript/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/javascript/imagesloaded.min.js"></script>
    <script type="text/javascript" src="~/javascript/jquery-countTo.js"></script>
    <script type="text/javascript" src="~/javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="~/javascript/jquery-ui-datepicker.js"></script>
    <script type="text/javascript" src="~/javascript/jquery-validate.js"></script>
    <script type="text/javascript" src="~/javascript/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="~/javascript/gmap3.min.js"></script>
    <script type="text/javascript" src="~/javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/javascript/parallax.js"></script>
    <script type="text/javascript" src="~/javascript/jquery.fitvids.js"></script>-->
    <!-- Revolution Slider -->
    <!--<script type="text/javascript" src="~/javascript/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/javascript/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/javascript/slider.js"></script>-->

    <script src="~/root/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/root/dist/js/adminlte.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.3/sweetalert2.min.js"></script>

    <script>
        function mostrarAlerta(titulo, mensaje, tipo) {
            Swal.fire({
                title: titulo,
                text: mensaje,
                icon: tipo,
                confirmButtonText: 'Aceptar'
            });
        }
    </script>
</body>

</html>

