<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Clínica Dental Dra. Mariana Garro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/stylesHistorial.css">

    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header id="header" class="header style2 clearfix">
        <div class="header-inner">
            <div class="nav-wrap">
                <button class="navbar-toggler text-dark d-lg-none" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fas fa-bars"></span>
                </button>
                <nav id="mainnav" class="navbar navbar-expand-lg custom_nav-container">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item text-center">
                                <a href="@Url.Action("Index", "Login")" class="nav-link">
                                    <img src="~/images/logoClinica.png" alt="Logo de la clínica" style="height: 50px;">
                                </a>
                            </li>

                            @if (Session["RolUsuario"] == null)
                            {
                                <li class="nav-item"><a href="@Url.Action("Login", "Login")" class="nav-link">Iniciar Sesión</a></li>
                                <li class="nav-item"><a href="@Url.Action("VerCalificaciones", "Calificacion")" class="nav-link">Ver Calificaciones</a></li>
                            }
                            else if (Session["RolUsuario"].ToString() == "1")
                            {
                                <li class="nav-item"><a href="@Url.Action("MostrarInventario", "Inventario")" class="nav-link">Inventario</a></li>
                                <li class="nav-item"><a href="@Url.Action("ConsultarPacientes", "Pacientes")" class="nav-link">Pacientes</a></li>
                                <li class="nav-item"><a href="@Url.Action("MostrarProductos", "Seguimiento")" class="nav-link">Seguimiento de productos</a></li>
                                <li class="nav-item"><a href="@Url.Action("CitasProgramadas", "Citas")" class="nav-link">Citas</a></li>
                                <li class="nav-item"><a href="@Url.Action("AdminCalificacion", "Calificacion")" class="nav-link">Calificación</a></li>
                            }
                            else if (Session["RolUsuario"].ToString() == "2")
                            {
                                <li class="nav-item"><a href="@Url.Action("MiHistorial", "Historial")" class="nav-link">Mi Historial</a></li>
                                <li class="nav-item"><a href="@Url.Action("MisCitas", "Citas")" class="nav-link">Citas</a></li>
                                <li class="nav-item"><a href="@Url.Action("MisProductos", "Seguimiento")" class="nav-link">Mis Productos</a></li>
                                <li class="nav-item"><a href="@Url.Action("VerCalificaciones", "Calificacion")" class="nav-link">Calificación</a></li>
                            }

                            @if (Session["RolUsuario"] != null)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @(Session["NombreUsuario"] ?? "Usuario")
                                        <i class="far fa-user ms-2"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                        <li><a href="@Url.Action("MiPerfil", "Perfil")" class="dropdown-item"><i class="fas fa-user-circle me-2"></i>Perfil</a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" class="dropdown-item"><i class="fas fa-sign-out-alt me-2"></i>Cerrar Sesión</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>


    <!-- Contenido Principal -->
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget widget_text">
                            <h5 class="widget-title">Sonríe más</h5>
                            <div class="textwidget">
                                <p>Sonríe con confianza</p><br>
                                <p>Cuidamos tu salud dental para que muestres tu mejor sonrisa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget widget_text">
                            <h5 class="widget-title">Ubicación</h5>
                            <div class="map-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209423.44069135375!2d-84.20872844259455!3d9.770794751507248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa11db2c6cecc15%3A0xb2002c1fc723e1f5!2sClinica%20Dental%20Dra.%20Mariana%20Garro!5e1!3m2!1ses-419!2scr!4v1724302356184!5m2!1ses-419!2scr"
                                        width="100%"
                                        height="200"
                                        style="border:0;"
                                        allowfullscreen=""
                                        loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget widget_text">
                            <h5 class="widget-title">Redes Sociales</h5>
                            <div class="social-icons">
                                <a href="https://www.instagram.com/dra.marianagarro/" class="social-icon">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.facebook.com/ClinicaDentalDraMarianaGarro/" class="social-icon">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript Libraries and Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/root/dist/js/adminlte.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.12.3/sweetalert2.min.js"></script>

    <script>
        // Detectar tamaño de pantalla al cargar la página
        $(document).ready(function () {
            // Forzar la inicialización de Bootstrap Dropdown
            var dropdowns = document.querySelectorAll('.dropdown-toggle');
            dropdowns.forEach(dropdown => new bootstrap.Dropdown(dropdown));

            // Manejo del icono en móviles
            function toggleMobileIconVisibility() {
                const mobileIcon = document.querySelector('.mobile-icon');
                if (window.innerWidth < 768) {
                    mobileIcon.style.display = 'block';
                } else {
                    mobileIcon.style.display = 'none';
                }
            }
            toggleMobileIconVisibility();
            window.addEventListener('resize', toggleMobileIconVisibility);
        });

        $(document).ready(function () {
            $('#discrepanciaModal').on('show.bs.modal', function (event) {
                const button = $(event.relatedTarget); // Botón que activó la modal
                const idProducto = button.data('id'); // Extraer información de atributos de datos

                const modal = $(this);
                modal.find('#registrarDiscrepanciaBtn').data('id', idProducto); // Guardar idProducto para usarlo al enviar
            });

            $('#registrarDiscrepanciaBtn').click(function () {
                const idProducto = $(this).data('id');
                const mensaje = $('#discrepanciaMensaje').val();

                if (mensaje.trim() === "") {
                    Swal.fire("Error", "Por favor ingrese un mensaje.", "error");
                    return;
                }

                // Llamada a la API para enviar la discrepancia
                fetch('@Url.Action("RegistrarDiscrepancia", "Reabastecimiento")', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': '@Html.AntiForgeryToken()'
                    },
                    body: JSON.stringify({ idProducto: idProducto, mensajeDiscrepancia: mensaje })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire("Éxito", "Discrepancia registrada correctamente.", "success");
                        $('#discrepanciaModal').modal('hide');
                    } else {
                        Swal.fire("Error", data.message, "error");
                    }
                })
                .catch(error => Swal.fire("Error", error.message, "error"));
            });
        });
        function mostrarAlerta(titulo, mensaje, tipo) {
            Swal.fire({
                title: titulo,
                text: mensaje,
                icon: tipo,
                confirmButtonText: 'Aceptar'
            });
        }
        function toggleChatbot() {
            var content = document.getElementById("chatbot-content");
            if (content.style.display === "none" || content.style.display === "") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        }
    </script>
</body>
</html>