
@model List<ProyectoDeGraduacion.BaseDatos.tPacientes>
@{
    ViewBag.Title = "Consultar Pacientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Gestión de Pacientes</h2>
    <p class="text-center">Administra, actualiza y gestiona los perfiles y estados de los usuarios.</p>
</div>

<div class="row">
    <div class="col-12">

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info text-center" role="alert">
                @ViewBag.msj
            </div>
        }

        <br>
        <div class="table-responsive">
            <table id="tablaUsuarios" class="table table-hover table-bordered text-center">
                <thead class="thead-dark bg-dark text-white">
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Cambiar Estado</th>
                        <th>Actualizar Información</th>
                        <th>Historial Médico</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Cedula</td>
                            <td>@item.Nombre</td>
                            <td>@item.Correo</td>
                            @if (item.Estado)
                            {
                                <td><span class="badge bg-success">Activo</span></td>
                            }
                            else
                            {
                                <td><span class="badge bg-danger">Inactivo</span></td>
                            }
                            <td>
                                <button type="button" class="btn btn-warning btn-sm btn-cambiar-estado" data-id="@item.idPaciente" data-name="@item.Nombre" title="Cambiar Estado">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm" href="@Url.Action("ActualizarPaciente","Pacientes", new { idPaciente = item.idPaciente })" title="Actualizar Información">
                                    <i class="fas fa-user-edit"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="@Url.Action("HistorialPaciente", "Historial", new { idPaciente = item.idPaciente })" title="Ver Historial Médico">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>


<script src="~/root/plugins/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $("#tablaUsuarios").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json'
            },
            columnDefs: [{ type: 'string', target: [0, 1, 2, 3] }]
        });

        $(document).on("click", ".btn-cambiar-estado", function () {
            var usuarioId = $(this).attr('data-id');
            var usuario = $(this).attr('data-name');

            Swal.fire({
                title: '¿Cambiar el estado del usuario?',
                text: usuario,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Cambiar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("CambiarEstadoPaciente", "Pacientes")',
                        type: 'POST',
                        data: { idPaciente: usuarioId },
                        success: function (response) {
                            Swal.fire(
                                'Estado Cambiado',
                                'El estado del usuario ha sido cambiado.',
                                'success'
                            ).then(function () {
                                location.reload();
                            });
                        },
                        error: function () {
                            Swal.fire(
                                'Error',
                                'No se pudo cambiar el estado del usuario.',
                                'error'
                            );
                        }
                    });
                }
            });
        });
    });
</script>