@model ProyectoDeGraduacion.BaseDatos.tPacientes

@{
    ViewBag.Title = "Mi Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<h4>Datos del usuario</h4>
<hr>
<br>

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">

        @if (ViewBag.msj != null)
        {
            <div class="alert alert-info" role="alert" style="text-align:center">
                @ViewBag.msj
            </div>
        }
        @using (Html.BeginForm("ActualizarPaciente", "Perfil", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.idPaciente)
            <div class="input-group mb-3">
                @Html.LabelFor(m => m.Cedula, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Cedula, new
                {
                    @class = "form-control",
                    @placeholder = "Identificación",
                    onkeyup = "ConsultarIdentificacion();"
                })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
                @Html.ValidationMessageFor(m => m.Cedula, "", new { @class = "text-danger" })

            </div>
            <div class="input-group mb-3">
                @Html.LabelFor(m => m.Nombre, htmlAttributes: new { @class = "form-label" })

                @Html.TextBoxFor(m => m.Nombre, new
                {
                    @class = "form-control",
                    @placeholder = "Nombre",
                    @readonly = "readonly"
                })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-user"></span>
                    </div>
                </div>
                @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })

            </div>
            <div class="input-group mb-3">
                @Html.LabelFor(m => m.Correo, htmlAttributes: new { @class = "form-label" })

                @Html.TextBoxFor(m => m.Correo, new
                {
                    @class = "form-control",
                    @placeholder = "Correo Electrónico",
                    @type = "email"
                })        
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
                @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })

            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <button type="submit" class="btn btn-primary btn-block" style="width:100%">Procesar</button>
                </div>
            </div>
        }

    </div>
</div>